<!-- <h1>Welcome to CULTR</h1>

<h2>Please Log In</h2>

<form action="/sessions" method="post">
  <input type="text" placeholder="email" name="user[email]">
  <input type="password" placeholder="password" name="user[password]">
  <input type="submit">
</form>
 -->
   <div class="container">

      <div class="jumbotron">
        <h1>Welcome to CULTR</h1>
        <p class="lead">The modern way to strike up conversation about philosophy, art, literature, and more!</p>
        <p><a class="btn btn-lg btn-success" href="/users/new">Sign up</a></p>
        <h2>Log In</h2>

<form action="/sessions" method="post">
  <input type="text" placeholder="email" name="user[email]">
  <input type="password" placeholder="password" name="user[password]">
  <input type="submit">
</form>
      </div>



      <div class="footer">
        <p>&copy; CULTR 2013</p>
      </div>

    </div> <!-- /container -->