<h1>Welcome to CULTR</h1>

<p>The modern way to strike up conversation about philosophy, art, literature, and more!</p>

<p><a href="/users/new">Sign up</a></p>

<h2>Log In</h2>

<form action="/sessions" method="post">
  <input type="text" placeholder="email" name="user[email]">
  <input type="password" placeholder="password" name="user[password]">
  <input type="submit">
</form>