<div class="jumbotron">
<h1>ALL THE CONVOS</h1>

<% @convos.each do |convo| %>
  <p><a href="/convos/<%= convo.id %>"><%= convo.topic %></a>
  <%= convo.description %></p>
<% end %>

<a href="/map">Convo Map</a>
</div>