<div class="jumbotron">
<form action="/convos" method="post">
  <select name="convo[topic]">
    <option value="Philosophy">Philosophy</option>
    <option value="Literature">Literature</option>
    <option value="Art">Art</option>
    <option value="History">History</option>
    <option value="Religion">Religion</option>
    <option value="Culture">Culture</option>
  </select><br>
  <textarea name="convo[description]" placeholder="description" rows="5" cols="40"></textarea><br>
  <input type="text" placeholder="Preferred ages" name="convo[age]">
  <!-- This will be the preferred method for age -->
  <!-- <input type="text" placeholder="min age" name="convo[age_min]"> -->
  <!-- <input type="text" placeholder="max age" name="convo[age_max]"> -->
  <p>Preferred Gender<br>
    <input type="checkbox" name="convo[gender][]" value="f" checked>Female</input>
    <input type="checkbox" name="convo[gender][]" value="m" checked>Male</input>
    <input type="checkbox" name="convo[gender][]" value="tf" checked>TransFemale</input><br>
    <input type="checkbox" name="convo[gender][]" value="tm" checked>TransMale</input>
    <input type="checkbox" name="convo[gender][]" value="tg" checked>TransGender</input>
    <input type="checkbox" name="convo[gender][]" value="o" checked>Other</input>
  </p>
  <input type="text" placeholder="start time" name="convo[start_time]">
  <input type="text" placeholder="end time" name="convo[end_time]"><br>
  <textarea name="convo[loc_desc]" placeholder="Where exactly will you be?" rows="5" cols="40"></textarea>
  <input type="hidden" name="convo[user_id]" value="<%=  @current_user.id %>">
  <input type="hidden" name="convo[latitude]" value="<%= params["lat"] %>">
  <input type="hidden" name="convo[longitude]" value="<%= params["lng"] %>">
  <input type="submit">
</form>
</div>