<form action="/users" method="post">
  <input type="text" placeholder="name" name="user[name]">
  <input type="email" placeholder="email" name="user[email]"><br>
  <input type="password" placeholder="password" name="user[password]">
  <input type="password" placeholder="confirm your password" name="user[password_confirmation]"><br>
  <input type="text" placeholder="age" name="user[age]">
  <input type="text" placeholder="gender" name="user[gender]"><br>
  <textarea name="user[interests]" rows="5" cols="40">Interests</textarea><br>
  <textarea name="user[writers]" rows="5" cols="40">Favorite Writers & Artists</textarea><br>
<textarea name="user[works]" rows="5" cols="40">Favorite Works of Art/Literature/Philosophy</textarea><br>
<textarea name="user[quotes]" rows="5" cols="40">Favorite Quotes</textarea>
  <input type="submit">
</form>